*  {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: #F3F4F7;
}

.ipanel {
	//
}

.ipanel-top {
	display: flex;
	flex-direction: row;
}

.ipanel-top a {
	display: block;
    width: 23%;
    text-decoration: none;
    margin: 1% 0% 1% 1.5%;
}

.ipt-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 2px 4px #EFF2F7;
	-webkit-transition: box-shadow .1s ease-out;
	-moz-transition: box-shadow .1s ease-out;
	-o-transition: box-shadow .1s ease-out;
	transition: box-shadow .1s ease-out;
}

.ipt-item:hover {
    box-shadow: 0 2px 4px #ccc;
}

.ipanel-top a:nth-child(1) .ipt-icon {
	background-color: #FFF0E6;
}

.ipanel-top a:nth-child(1) .ipt-icon i {
	font-size: 20px;
	color: #ffffff;
}

.ipanel-top a:nth-child(1) .ipt-icon i:before {
    padding: 7px 5px;
    border-radius: 50%;
	background-color: #FF7300;
}

.ipanel-top a:nth-child(2) .ipt-icon {
	background-color: #E6F7F1;
}

.ipanel-top a:nth-child(2) .ipt-icon i {
	color: #00B374;
}

.ipanel-top a:nth-child(3) .ipt-icon {
	background-color: #E6F0FB;
}

.ipanel-top a:nth-child(3) .ipt-icon i {
	color: #006EDB;
}

.ipanel-top a:nth-child(4) .ipt-icon {
	background-color: #FFF0E6;
}

.ipanel-top a:nth-child(4) .ipt-icon i {
	color: #FF7300;
}

.ipt-item a {
	//
}

.ipt-icon {
    width: 64px;
    height: 64px;
    text-align: center;
    border-radius: 50%;
	margin-right: 20px;
    background-color: #E6F0FB;
}

.ipt-icon i {
    font-size: 30px;
	color: #016EDA;
    line-height: 63px;
    vertical-align: middle;
}

.ipt-value {
	//
}

.ipt-title {
	font-size: 23px;
    font-weight: 500;
    color: #000000;
	margin-bottom: 1px;
}

.ipt-text {
    font-size: 19px;
    font-weight: 500;
    color: #62666D;
}

.ipanel-body {
	display: flex;
}

.ipb-item {
    width: 23%;
    margin: 1% 0% 1% 1.5%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px #EFF2F7;
    -webkit-transition: box-shadow .1s ease-out;
    -moz-transition: box-shadow .1s ease-out;
    -o-transition: box-shadow .1s ease-out;
    transition: box-shadow .1s ease-out;
}

.ipb-item:nth-child(2) {
	width: 47.5%;
}

.ipb-title {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #F1F1F5;
	padding: 20px;
}

.ipanel-body .ipb-item:nth-child(3) .ipb-icon {
	color: #E11A1A;
	font-size: 14px;
    padding-left: 1px;
	background-color: #FBE9E9;
}

.ipanel-body .ipb-item:nth-child(3) .ipb-icon i:before {
	background-color: transparent;
}

.ipb-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 10px;
    color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #FFF9ED;
}

.ipb-icon i:before {
    padding: 3px;
    border-radius: 50%;
    background-color: #FFC640;
}

.ipb-text {
	font-size: 20px;
    color: #62666D;
    font-weight: 500;
	display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.ipb-address {
	font-size: 16px;
    display: flex;
    align-items: center;
}

.ipb-address i {
	font-size: 15px;
	color: #00B374;
	margin-right: 8px;
}

.fa-rotate-90 {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ipbc-item {
	display: flex;
    flex-direction: row;
	border-bottom: 1px solid #F1F1F5;
    padding: 10px 15px;
}

.ipb-item:nth-child(1) .ipbc-item {
	cursor: pointer;
}

.ipb-item:nth-child(1) .ipbc-item:hover {
	background-color:#F1F1F5;
}

.ipbc-icon {
    width: 27px;
    height: 27px;
	margin-right: 10px;
}

.ipbc-icon i {
	width: 12px;
	height: 12px;
	border-radius: 50%;
    display: inline-block;
    vertical-align: bottom;
}

.ipbc-text {
    display: flex;
    justify-content: space-between;
	align-items: center;
    flex-grow: 1;
	font-size: 16px;
	font-weight: 400;
    color: #44444F;
}

.ipbc-value {
    font-weight: 500;
}

.circle-orange {
	background-color: #FF7200;
}

.circle-blue {
	background-color: #016EDA;
}

.circle-green {
	background-color: #00B273;
}

.circle-yellow {
	background-color: #FFC542;
}

.circle-red {
	background-color: #E02020;
}

.svgmap {
    width: 310px;
    height: 343px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
}

.svgmap img {
    width: 100%;
}

.icalendar {
    display: flex;
	flex-direction: row;
    justify-content: space-between;
    align-items: center;
	padding: 15px;
}

.icalendar-input input {
	font-family: 'Roboto', sans-serif;
	color: #44444F;
	font-size: 16px;
	font-weight: 500;
	width: 93px;
	text-align: center;
	border: none;
	outline: none;
}

.icalendar .date-prev, .icalendar .date-next {
	font-size: 17px;
    color: #31669A;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 20px;
	cursor: pointer;
	background-color: #F1F1F5;
}

.icalendar .date-prev:hover, .icalendar .date-next:hover {
	color: #275C90;
	background-color: #E7E7EB;
}

.icalendar .date-prev {
	padding: 3px 1px 0px 0px;
}

.icalendar .date-next {
	padding: 3px 0px 0px 1px;
}

.time-chart {
	width: 100%;
    padding: 5px 0px;
}

.time-graphic {
	display: flex;
	flex-direction: row;
	width: 90%;
    height: 16px;
    border-radius: 10px;
    background-color: #ccc;
    margin: 0 auto;
	overflow: hidden;
}

.time-graphic div {
	height: 100%;
}

.time-graphic div:nth-child(1) {
	width: 30%;
	background-color: #FF7200;
}

.time-graphic div:nth-child(2) {
	width: 25%;
	background-color: #016EDA;
}

.time-graphic div:nth-child(3) {
	width: 20%;
	background-color: #00B273;
}

.time-graphic div:nth-child(4) {
	width: 15%;
	background-color: #FFC542;
}

.time-graphic div:nth-child(5) {
	width: 10%;
	background-color: #E02020;
}

.bankinfo .ipb-content {
	display: flex;
	flex-direction: row;
}

.bankinfo .svginfo {
    max-height: 343px;
	overflow-y: auto;
	border-left: 1px solid #F1F1F5;
}

.bankinfo .svginfo::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.bankinfo .svginfo::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.bankinfo .svginfo::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #E6F0FB;
}

.svginfo-item {
	padding: 10px;
	border-bottom: 1px solid #F1F1F5;
}

.svginfo-title {
	display: flex;
    flex-direction: row;
    align-items: center;
	margin-bottom: 8px;
}

.svginfo-title img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.svginfo-title span {
	font-weight: 500;
	font-size: 14px;
	color: #000000;
}

.svginfo-text {
	display: flex;
    flex-direction: row;
	margin: 8px 0px;
}

.svginfo-text span {
	font-weight: 400;
	font-size: 13px;
	color: #000000;
	min-width: 47px;
}

.svginfo-text p {
	font-weight: 400;
	font-size: 13px;
	color: #44444F;
	padding: 0px;
	margin: 0px;
}