#viloyatlar *.on, #viloyatlar *.active {
  opacity: 0.8;
  cursor: pointer;
  /* fill: red; */
  /* transform: scale(0.997); */
}

.viloyat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.viloyat li {
  padding: 2px 4px;
  width: 100%;
  display: none;
}
.viloyat li.on, .viloyat li.active {
  display: inline-block;
}